php_value upload_max_filesize 3000M
php_value post_max_size 2000M
php_value max_execution_time 300

php_value post_max_size 4000M
php_value memory_limit 5000M
php_value upload_max_filesize 5000M

php_flag log_errors on
php_value error_reporting 32767
php_value error_log "error_log.txt"

# restrict Direct access to assets , uplaods any other directories
Options -Indexes

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond $1 !^(index\.php|resources|robots\.txt|public)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:uvschools.com
#RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} (www\.)?uvschools.com
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:uvschools.com

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:uvschools.com
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:uvschools.com

